/*поисковая строка*/
.searchdiv
{
	width:100%;
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: repeat-x;
	/*background-size: cover;
	background-size: 100%;*/
	background-size: auto, 170px;
	background-image: url(../img/str_bgr.jpg);
	box-shadow: inset 0 10px 10px -10px #666;
	z-index:3;
}
/*выбор бд*/
.bases_div
{
	display:inline-block;
	width:80%;
	margin: 45px 0 0 10%;
	background:#fff;
	border-radius:5px 5px 0 0;
}
body:not([class$='_php']) .bases_div
{
	visibility:hidden;
}
#bases_div_inner
{
	display:inline-block;
	/*padding:15px 0 15px 5%;*/
	padding:15px 0 15px 2%;
}
/*элементы поиска*/
.searchdiv_outer
{
	width: 80%;
	height:100%;
	margin: 0 auto;
	background:#fff;
}
body:not([class$='_php']) .searchdiv_outer
{
	background:transparent;
}
.searchdiv_inner
{
	width: 100%;
	height:100%;
	display:inline-block;
}
.searchdiv .top
{
	position:absolute;
	top:-33px;
	/*right:5%;*/
	right:2%;
}
body:not([class$='_php']) .searchdiv .top
{
	display:none;
}
body[class$='_php'] #simple_search .labcontainer, body[class$='_php'] #authority_search .labcontainer
{
	margin-bottom:10px;
}
.searchdiv .bottom
{
	text-align:right;
	padding: 10px 5% 10px 5%;
}
.searchdiv .top span, .searchdiv .bottom span
{
	margin: 0px 0px 0px 20px;
	font-size: 70%;
	font-weight:bold;
	cursor:pointer;
}
.sel, .history_link
{
	text-decoration: underline;
	visibility:visible;
}
.sel_
{
	text-decoration: none;
	visibility:visible;
}
.sel__
{
	visibility:hidden;
}
.searchdiv .middle
{
	width: 100%;
	text-align:left;
}
.searchdiv .middle [id$='_search']:not([id^='lib'])
{
	/*padding: 0 5% 0 5%;*/
	padding: 0 2% 0 2%;
}
#expand_search
{
	overflow:hidden;
}
/*словарь*/
.middle b
{
	float:right;
	width:30px;
	height:30px;
	cursor:pointer;
}
/*поисковые поля*/
.labcontainer, .logcontainer, .basescontainer
{
	height: 43px;
	overflow: hidden;
}
body:not([class$='_php']) .labcontainer
{
	margin-bottom:40px;
	margin-top:-30px;
}
.logcontainer
{
	width: 48px;
	float: right;
	margin: 0 0 0 5px;
	cursor:pointer;
}
[class^='opt']
{
	cursor:pointer;
}
.opt
{
	width: 155px;
	float: left;
}
body:not([class$='_php']) .opt
{
	display:none;
}
.opt1
{
	width: 125px;
	float: left;
}
.opt2, .options2, .select2, .select2_
{
	width:310px;
	white-space:nowrap;
}
.inp
{
	height: 43px;
	overflow: hidden;
}
.iLAB 
{
	width: 100%;
	height: 43px;
	border: none;
	font-size:100%;
	line-height:110%;
	padding: 1px;
	margin: 0;
	background:transparent;
}
/*имитация select*/
[class^='select']
{
	overflow: hidden;
	z-index:2;
}
.select, .select_
{
	width: 155px;
}
.select1, .select1_
{
	width: 48px;
	height: 43px;
}
.select4, .select4_
{
	width: 50px;
	/*height: 43px;*/
}
.select1, .select1_
{
	float: right;
}
[class^='select'] span
{
	font-size:80%;
	line-height:220%;
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}
.select span, .select_ span
{
	width: 125px;
	margin: 0 0 0 2px;
	height: 43px;
	padding: 7px 0 0 4px;
}
.select1 span, .select1_ span
{
	width: 30px;
	height:43px;
	line-height:220%;
	padding: 7px 0 0 3px;
	text-align: center;
}
.select2 span, .select2_ span
{
	width: 290px;
	margin: 4px 0px 0px 5px;
}
.select2 span#currdb, .select2_ span#currdb
{
	float: none;
	display:inline-block;
}
.select4 span, .select4_ span
{
	width: 30px;
	padding: 6px 0 0 3px;
	text-align: center;
}
[class^='select'] img
{
	width:15px;
	height:30px;
	float: right;
	z-index:1;
}
/*имитация options*/
[class^='options']
{
	position: absolute;
	white-space: nowrap;
	z-index: 3;
	text-align: left;
	overflow: hidden;
}
[class^='options'] div:hover
{
	cursor: pointer;
}
.options
{
	width: 265px;
}
.options1
{
	width: 45px;
}
.options3
{
	width: 125px;
}
.options4
{
	width: 55px;
	margin-top:-1px;
}
.options div, .options2 div, .options3 div, .options1 div
{
	font-size:80%;
	font-weight:bold;
	line-height:120%;
	margin: 1px;
	padding: 4px 2px 4px 5px;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}
.options1 div, .options4 div
{
	text-align: center;
}
/*профессиональный*/
#sand, #sor, #snot, #saf
{
	width: 50px;
	height: 43px;
	margin: 5px 10px 0 0;
    padding: 0 0 2px 0;
	font-size: 120%;
	line-height:150%;
}
#saf
{
	width: 80px;
	margin: 5px 10px 0 25px !important;
}
#combo
{
	margin: 15px 42px 15px 0;
	padding: 5px 0 5px 10px;
	font-size:70%;
	line-height:150%;
}
#combo span
{
	margin: 0 10px 0 0;
}
.me
{
	margin: 0 5px 0 0;
}
.me u
{
	font-weight:bold;
}
/*фондодержатели*/
#lib_search, .lib_search
{
	font-size:70%;
	line-height:150%;
	margin: 0 0 0 5px;
	width:80%;
}
/*АФ*/
#afalfabet, .alfavit
{
	text-align:center;
}
#afalfabet span, .alfavit span
{
	display:inline-block;
	font-variant:small-caps;
	font-weight:bold;
	font-size:100%;
	line-height:150%;
	text-decoration:underline;
	margin: 0 2px 0 2px;
	cursor:pointer;
}
/*ограничения*/
#limits_search
{
	height: 43px;
	font-weight:bold;
	font-size:80%;
	line-height:350%;
	text-align:left;
	overflow: hidden;
	cursor:pointer;
	margin-left:2%;
	padding: 0 0 0 30px;
}
.baselimits
{
	text-align:left;
	min-height:50px;
	margin:0 5% 0 5%;
}
.baselimits span.title
{
	width: 25%;
	float: left;
	font-weight: bold;
	font-size:80%;
	line-height:300%;
	padding: 5px 0 0 10px;
	white-space:nowrap;
}
.limits_left
{
	width: 49%;
	overflow: hidden;
	margin:10px 0 0 0;
}
.limits_left:nth-child(2n)  span.title
{
	padding: 5px 10px 0 0;
}
.limits_left:nth-child(odd)
{
	float: left;
}
.limits_left:nth-child(even)
{
	float: right;
}
.baselimits span.input
{
	width: 61px;
	height: 43px;
	float: left;
}
.baselimits span.from, .baselimits span.to
{
	width: 35px;
	float: left;
	font-weight: bold;
	font-size:80%;
	line-height:300%;
}
.baselimits span.from
{
	padding: 5px 5px 5px 0;
	margin: 0 0 0 -40px;
	text-align:right;
}
.baselimits span.to
{
	padding: 5px;
	text-align:center;
}
.baselimits [class^='select']
{
	width: 70%;
	height: 43px;
	float: left;
	cursor: pointer;
}
.baselimits [class^='select'] span
{
	width: 85%;
}
.baselimits [class^='select'] img
{
	margin: 2px;
}
.baselimits .options
{
	width: 160px;
}
.period
{
	text-align:center;
	font-size:80%;
	width: 250px;
	margin: 10px auto;
}
.period span:not([class='from']):not([class='to']):not([class='calc']), .period b
{
	display:block;
	padding:7px 0 8px 0;

}
.period .from, .period .to, .period .calc
{
	display:inline-block;
	width:30px;
}
/*АФ*/
#authority_search .voc
{
	/*margin:0 0 0 10px;*/
	float:right;
}
#authority_search #voclist
{
    border: solid 1px #ccc;
    /*box-shadow: inset 0px 0px 3px #005d9a;*/
	background:#eee;
}
[id^='mainobj'], .afplusimg.f140, .afbulletimg.f140
{
	text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff, 0px 0px 6px #4379c5;
}
div.afbig
{
	cursor:pointer;
	font-size:90%;
}
p.afbig, span.afbig
{
	text-decoration:underline;
	cursor:pointer;
}
.afplusimg, .afminusimg, .afbulletimg
{
	display:inline-block;
	padding: 0 0 0 25px;
	font-weight: bold;
	cursor:pointer;
}
div.aftitle
{
	font-size:80%;
}
.aftitle code
{
	font-family: Arial;
}
.afplusimg code, .afminusimg code
{
	text-decoration:underline;
}
.afsearchimg, .afannotimg, .AF
{
	display:inline-block;
	width:25px;
	height:25px;
	cursor:pointer;
	margin: 0px 5px 0px 5px;
}
.expl1 p.afsmall
{
	margin-left:10px;
}
.expl1 p.afsmall:first-child
{
	margin-top:10px;
}
.expl1 p.afsmall:last-child
{
	margin-bottom:10px;
}
/*дерево*/
#meshtree
{
    display:inline-block;
}
#meshtree > div:nth-child(1)
{
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	text-align: left;
	padding: 8px 25px 9px 10px;
	cursor:pointer;
}
[class*='angle']:after
{
	position:absolute;
	display:inline-block;
	top:8px;
	right:3px;
	font-family: 'fontello';
	font-size:13pt;
	width:15px;
	height:27px;
}
[class*='angle'][class$='_']:after
{
	content: '\e80a';
}
[class*='angle']:not([class$='_']):after
{
	content: '\e80b';
}
.meshcodesdisplay
{
	display:none;
	padding-top:10px;
}
.meshcodesdisplay_
{
	display:block;
	padding-top:10px;
}
.clm
{
	width:auto !important;
	padding:0 10px;
}
.annotmeshtree
{
	padding:10px 0 10px 0;
}
.annotmeshtree:nth-child(even)
{
	border-top:solid 1px #ddd;
}
.annotmeshtree:nth-child(even):not(:last-child)
{
	border-bottom:solid 1px #ddd;
}
#srezults div.par p.aftitle span[data-level]
{
	display:inline;
}
.afbig.u.curs
{
	margin-left:25px;
}
#termin span
{
	line-height:140%;
}
.andor2
{
	width:50px;
	cursor:pointer;
	margin:0 5px 0 0;
	padding:0;
}
#fromaftobibl
{
	font-size:80%;
	width:auto;
	padding:0 10px;
	top:-10px;
}
.NewMeshTree, .Tree, .Annotation, .Permutation, .Alfa, .Also, .Otherlang
{
	display:block;
	line-height:120%;
	padding:5px 10px 5px 30px;
	cursor:pointer;
	min-height:20px;
}
#tree_lang_choice
{
	position:absolute;
	text-align: center;
}
#tree_lang_choice span
{
	display:block;
	padding: 2px 0 5px 0;
	font-size:80%;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	z-index:1;
}
#tree_lang_choice span:nth-child(1)
{
	margin: 1px 1px 0 1px;
}
#tree_lang_choice span:nth-child(2)
{
	margin: 0 1px 1px 1px;
	border-top:solid 1px #fff;
}
#tree_lang_choice span:hover
{
	cursor: pointer;
}