/*символы*/
[class^='select']:before, [class^='limits']:before, .add1:before, .add2:before, .filters span.checked:after, .border:before, [class^='wrapped']:after, .afannotimg:after, .afsearchimg:after, .afplusimg:after, .afminusimg:after, .afbulletimg:after, .user_info:after, .calc:after, .sheet_search_search_php #rubricator span:after
{
	content: '';
	position:absolute;
}
[class^='select']:after, [class^='limits']:after, .add1:after, .add2:after, [class^='wrapped']:before, .afplusimg:before, .afminusimg:before, .afbulletimg:before, .user_info:before, .AF:before, .NewMeshTree:before, .Tree:before, .Also:before, .Otherlang:before, .Annotation:before, .Permutation:before, .Alfa:before
{
	position:absolute;
	display:inline-block;
	top: 5px;
	font-family: 'fontello';
	font-weight:bold;
	font-size:13pt;
	width:15px;
	height:27px;
}
.left_menu  span.rc:after
{
	content: '\e815';
	position:absolute;
	display:inline-block;
	top: 1px;
	margin-left:10px;
	font-family: 'fontello';
	font-size:10pt;
}
.calc
{
	cursor:pointer;
	display:inline-block;
	width:25px;
	height:25px;
	top:5px;
}
.calc:before
{
	display:inline-block;
	font-family: 'fontello';
	font-size:20pt;
}
.afannotimg:before, .afsearchimg:before, .AF:before
{
	display:inline-block;
	font-family: 'fontello';
	font-size:16pt;
}
.calc:before
{
	content: '\e809';
}
.afsearchimg:before, .NewMeshTree:before, .Tree:before, .Also:before, .Otherlang:before, .Alfa:before, .Permutation:before
{
	content: '\e816';
	text-shadow: 1px 1px #9f9f9f, 1px -1px #9f9f9f, -1px 1px #9f9f9f, -1px -1px #9f9f9f;
}
.afannotimg:before, .AF:before, .Annotation:before, .Also:before, .Otherlang:before
{
	content: '\e805';
    text-shadow: 1px 1px #9f9f9f, 1px -1px #9f9f9f, -1px 1px #9f9f9f, -1px -1px #9f9f9f;
}
.NewMeshTree:before, .Tree:before, .Alfa:before, .Also:before, .Otherlang:before, .Permutation:before, .Annotation:before
{
	left:5px;
	top:10px;
}
.AF:before
{
	top:12px;
}
.user_info:before
{
	content: '\e817';
	top:-2px;
	left:5px;
	font-size:10pt;
}
/*#privat:after
{
	content: '';
	position:absolute;
}
#privat:before
{
	content: '\e817';
	position:absolute;
	display:inline-block;
	top: 2px;
	left: -15px;
	font-family: 'fontello';
	font-weight:bold;
	font-size:70%;
	width:15px;
	height:27px;
}*/
ul[class^=ini] li:before
{
	content: '\e814';
	position: absolute;
	font-family: 'fontello';
	font-weight:bold;
	left:0px;
	top:1px;
}
.content ul[class^=ini] li:before
{
	left:10px;
	top:-3px;
}
.middle b:before
{
	content: '\e800';
	position:absolute;
	display: inline-block;
	top:10px;
	left:10px;
	width:30px;
	height:30px;
	font-family: 'fontello';
	font-size:20px;
	font-weight:normal !important;
	z-index: 1;
}
.middle b:not([class$='disabled']):after, #afalfabet span:after, .titleslides:after, .see:after, .issue:after
{
	position: absolute; 
	top:100%;
	left:0;
	display: inline-block;
	visibility: hidden;
	width:100px;
	height:34px;
	margin: 7px 0 0 -1600px;
	text-align:center;
	font-weight:normal;
	line-height:180%;
	text-align:center;
	z-index: 9999;
}
.middle b:not([class$='disabled']):after
{
	top:-7px;
	left:50px;
	height: 43px;
	line-height: 250%;
}
.middle b:not([class$='disabled']):hover:after, #afalfabet span:hover:after, .titleslides:hover:after, .see:hover:after, .issue:hover:after
{
	visibility: visible;
	margin: 7px 0 0 -45px;
	transition: 0s .4s;
	z-index:9999;
}
.middle b:not([class$="disabled"]):hover:after
{
	margin: 7px 0 0 -120px;
}
#simple_search b:hover:after, #fundholders_search b:hover:after
{
	content: ' Искать ';
	top:34px;
}
#expand_search b:not([class$='disabled']):hover:after, #professional_search b:not([class$='disabled']):hover:after
{
	content: ' Словарь ';
}
#afalfabet span:hover:after
{
	content: ' Список ';
}
#afalfabet span:hover:before, .titleslides:hover:before, .see:hover:before, .issue:hover:before
{
	content: '';
	position: absolute;
	border-top: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;        
	border-bottom: 8px solid rgba(255,255,255,0.7); 
	opacity: 0.8; 
}
.middle b:not([class$='disabled']):hover:before
{
	content: '';
}
.see:hover:after, .issue:hover:after
{
	font-size: 80%;
	content: attr(data);
	min-width:150px;
	width:auto;
	height:auto;
	top:100%;
	left:40%;
	line-height: 100%;
	margin:0;
	border-radius:5px;
	padding:10px;
}
.titleslides:hover:after
{
	font-size: 80%;
	content: ' Содержание ';
	min-width:100px;
	width:auto;
	height:auto;
	top:100%;
	left:0;
	margin:-8px 0 0 -10px;
}
.titleslides:hover:before, .see:hover:before, .issue:hover:before
{
	top:100%;
	left: 60% !important;
	margin: -8px 0 0 0;
}
#afalfabet span:hover:before, .titleslides:hover:before
{
	top:15px;
	left: 0;
}
#go-to-top:before
{
	content:'\e80a';
	position:absolute;
	display:inline-block;
	width:30px;
	height:30px;
	top:20px;
	left:20px;
	font-family: 'fontello';
	font-weight:bold;
	font-size:30px;
}
[class^='wrapped']:before
{
	top:10px;
	left:5px;
}
[class^='limits']:after
{
	top:0px;
	left:8px;
}
[class^='select']:after
{
	top:14px;
	right:0;
}
.add1:after, .add2:after
{
	position:relative;
	top: 1px;
	left:10px;
}
[class^='select4']:after
{
	top:10px;
}
[class^='select'][class$='_']:after, [class^='limits'][class$='_']:after, .add2:after, [class^='wrapped'][class$='_']:before, .afminusimg:before
{
	content: '\e80a';
	/*z-index:1;*/
}
.afbulletimg:before
{
	content: '\e814';
}
[class^='select']:not([class$='_']):after, [class^='limits']:not([class$='_']):not([class$='left']):after, .add1:after, [class^='wrapped']:not([class$='_']):before, .afplusimg:before
{
	content: '\e80b';
	/*z-index:1;*/
}
.afplusimg:before, .afminusimg:before, .afbulletimg:before
{
	top:0;
	left:5px;
	text-shadow: none;
}
.new1:before, .new2:before
{
	top:1px;
    margin-top:8px;
    font-size:160%;
    font-weight:bold;
}
.facets div span.else:after
{
	font-size:120%;
	margin-left:5px;
	font-weight:bold;
}
.facets div span.even:before
{
	font-size:120%;
	margin-right:5px;
	font-weight:bold;
}
.new1:before, .facets div span.even:before
{
    content:'\2039';
}
.new2:before, .facets div span.else:after
{
    content:'\203A';
}
.filters span.checked:before, .facets span.checked:before
{
	content: '\2714';
	display:inline-block;
	margin-right:5px;
}
.filters span.checked:before
{
	padding: 0 0 0 30px;
}
.facets span.checked:before
{
	padding: 0 0 0 10px;
}
.see:not(:last-of-type) .comma:after, .issue:not(:last-of-type) .comma:after
{
    content: ';';
}
.f_container .ffacets div span.checked:after
{
	content: '\00D7';
	position: absolute;
	font-size: 14pt;
	display: inline-block;
	padding: 0 0 0 5px;
	color: #4379c5;
	top: -2px;
}
