/*подвал*/
#footer
{
	min-height: 150px;
	height:auto;
	width:1280px;
	margin:0 auto;
}
#bottom_info, #bottom_copy
{
	display:table-row;
	background:#fff;
	color:#333;
}
#bottom_copy
{
	height:40px;
}
#bottom_copy .td, #bottom_info .td
{
	font-size:80%;
	/*font-family: 'irmatextround-regular';*/
	vertical-align:middle;
}
#bottom_copy .td:first-child, #bottom_info .td:first-child
{
	padding-left: 10%;
	text-align:left;
}
#bottom_copy .td:last-child, #bottom_info .td:last-child
{
	padding-right:10%;
	text-align:right;
}
a.dit, a.sag
{
	display:inline-block;
	height:40px;
	border:0;
}
a.dit img, a.sag img
{
	border:0;
}
a.dit
{
	background:url(../img/dit.png) center 10px no-repeat;
	width:56px;
	margin: 0 5px 0 5px;
}
a.sag
{
	background:url(../img/sag.png) center 10px no-repeat;
	width:114px;
	margin: 0 0 0 5px;
}

