/*элементы формы*/
input[disabled]
{
	opacity: 0.5 !important;
}
input:focus
{
	outline:none;
}
input[type="text"]:focus, input[type="password"]:focus, #saf:not([disabled]):hover
{
	box-shadow: inset 0 0 5px #f0e0e0;
}
.bases_div input[type=radio], .bases_div input[type=checkbox]
{  
    display: none;  
}
.bases_div label
 {  
    display: inline-block;  
    cursor: pointer;  
    padding: 0 0 0 25px;
	margin: 0 15px 0 0;  
	font-size: 80%;
	font-weight:bold;
	color:#f0f0f0;
}
.bases_div label:before
{  
    content: "";  
    position: absolute;  
    display: inline-block;  
    width: 13px;  
    height: 13px;  
    left: 0;  
    bottom: 1px;  
	background: #f0f0f0;  
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3);
}
.bases_div input[type=radio] + label:before
{  
    border-radius: 50%;  
}
.bases_div input[type=checkbox] + label:before
{  
    border-radius: 1px;  
}
.bases_div input[type=radio]:checked  + label:before
{  
    content: "\2022";  
    color: #f0f0f0;
	background: #099;  
    text-align: center;  
	font: bold 14pt/10pt Arial, Verdana, Tahoma, Helvetica, sans-serif;
	text-shadow: -1px -1px 3px rgba(0,0,0,.3), -1px 1px 3px rgba(0,0,0,.3), 1px 1px 3px rgba(0,0,0,.3), 1px -1px 3px rgba(0,0,0,.3); 
}
.bases_div input[type=checkbox]:checked + label:before
{  
    content: "\2714";  
    color: #099;  
    text-align: center;  
    font: bold 12pt/12pt Arial, Verdana, Tahoma, Helvetica, sans-serif; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
}
.bases_div input[type=radio]:checked  + label
{
	color:#099;
}
/*.buttoncont .button
{
	display:inline-block;
	padding:5px;
	width:150px;
}*/
input[type='button']:not([id='sand']):not([id='sor']):not([id='snot']):not([id='saf'])
{
	min-width:90px;
	min-height:34px;
}
.middle input[class$='button']
{
	margin:0 0 0 10px;
	float:right;
	background:#099;
	border: solid 1px #099;
	color:#fff;
	text-shadow: -1px -1px 3px rgba(0,0,0,.3), -1px 1px 3px rgba(0,0,0,.3), 1px 1px 3px rgba(0,0,0,.3), 1px -1px 3px rgba(0,0,0,.3); 
}
.url, #callbut, .border1 .button, .button3
{
	background:#009990;
	border: solid 1px #009990;
	color:#fff;
}
.button3
{
	color:#fff !important;
}
.searchhead .url
{
	font-size:130%;
}
#authority_search .voc
{
	margin:0 0 0 10px;
	float:right;
}
.button2
{
	background:#eee;
	border:solid 1px #c0c0c0;
}
.button2:hover
{
	color:#009990 !important;
}
.middle .button2
{
	width:90px;
	margin:0 0 0 10px;
	float:right;
	background: #666;
	background: rgba(102,102,102,0.7);
    border: solid 1px #666;
    color: #999;
}
/*#sbuttons
{
	margin:0 75px 0 0;
}*/
input[type='button']:not([disabled]):hover, [class^='select4']:hover, span.url:hover
{
	cursor:pointer;
	box-shadow: inset 0 0 5px #fff;
}
.baselimits span.input input, .period span.input input
{
	border: none;
	font-size:100%;
	line-height:150%;
	color: #f0f0f0;
	background: transparent;
	width: 98%;
	height:34px;
}
.winform .period span.input input
{
	background:#f0f0f0;
	/*border: solid 1px #ccc;*/
	border:0;
	color:#333;
}
input[class^='stage'], .period input[id^='icdr']
{
	border: solid 1px #c0d9d6;
	box-shadow: 0 0 3px #666;
	height: 29px;
}
.period input.date, #butcontainer input.date
{
	border: solid 1px #c0d9d6;
	box-shadow: 0 0 3px #666;
	font-size:100%;
	line-height:150%;
	color: #333;
	background: #fcfcfc;
	width: 50px;
	height: 29px;
	text-align:center;
	margin: 0 5px 0 0;
}
input[type^='password'].stage5
{
	margin-right:5px;
}
#filters .button2
{
	padding: 0 10px 0 10px;
	font-size:80%;
}
#searchhead [class^='button'], [class^='searchhead'] [class^='button'], .fright [class^='button'], .fleft [class^='button']
{
	color:#666;
	font-weight:bold;
	width:150px;
}
#bsecond
{
	width:auto !important;
}
#searchhead [class^='button'], [class^='searchhead'] [class^='button']
{
	font-size:110%;
}
.fright [class^='button'], .fleft [class^='button']
{
	z-index:1;
	margin-left:5px;
}
.fleft [class^='button']
{
	/*margin-top:5px;*/
	font-size:90%;
}
.acenter [class^='button']
{
	margin-left:5px;
	width:auto !important;
	padding-left:5px;
	padding-right:5px;
}
div[class^='border'] textarea
{
	display:inline-block;
	width:100%;
	max-width: 450px;
	height: 150px;
	border: solid 1px #ccc;
	border-radius:3px;
	background:#f6f6f6;
}
.border1 input[type="text"], .border1 input[type="password"], .border2 input[type="text"]
{
	width:100%;
	max-width: 450px;
	display:inline-block;
	height: 30px;
	font-size:120%;
	padding: 1px;
	margin: 0;
	border: solid 1px #ccc;
	border-radius:3px;
	background:#f0f0f0;
}
.border1 input.date
{
	width: 65px;
	text-align:center;
}
