/*внешние поля*/
.m5
{
	margin:5%;
}
.ml5
{
	margin-left:5%;
}
.mt5
{
	margin-top:5%;
}
.mr5
{
	margin-right:5%;
}
.mb5
{
	margin-bottom:5%;
}
.m10
{
	margin:10%;
}
.ml10
{
	margin-left:10%;
}
.mt10
{
	margin-top:10%;
}
.mr10
{
	margin-right:10%;
}
.mb10
{
	margin-bottom:10%;
}
.m15
{
	margin:15%;
}
.ml15
{
	margin-left:15%;
}
.mt15
{
	margin-top:15%;
}
.mr15
{
	margin-right:15%;
}
.mb15
{
	margin-bottom:15%;
}
.m15
{
	margin:15%;
}
.ml20
{
	margin-left:20%;
}
.mt20
{
	margin-top:20%;
}
.mr20
{
	margin-right:20%;
}
.mb20
{
	margin-bottom:20%;
}
.ml21
{
	margin-left:21%;
}
.m5x
{
	margin:5px;
}
.ml5x, #callbut, #closebut
{
	margin-left:5px;
}
.mt5x
{
	margin-top:5px;
}
.mr5x, #callbut, #closebut
{
	margin-right:5px;
}
.mb5x
{
	margin-bottom:5px;
}
.m10x
{
	margin:10px;
}
.ml10x
{
	margin-left:10px;
}
.mt10x
{
	margin-top:10px;
}
.mr10x
{
	margin-right:10px;
}
.mb10x
{
	margin-bottom:10px;
}
.m15x
{
	margin:15px;
}
.ml15x
{
	margin-left:15px;
}
.mt15x
{
	margin-top:15px;
}
.mr15x
{
	margin-right:15px;
}
.mb15x
{
	margin-bottom:15px;
}
.m20x
{
	margin:20px;
}
.ml20x
{
	margin-left:20px;
}
.mt20x
{
	margin-top:20px;
}
.mr20x
{
	margin-right:20px;
}
.mb20x
{
	margin-bottom:20px;
}
.m25x
{
	margin:25px;
}
.ml25x
{
	margin-left:25px;
}
.mt25x
{
	margin-top:25px;
}
.mr25x
{
	margin-right:25px;
}
.mb25x
{
	margin-bottom:25px;
}
.m30x, .period_container .button2
{
	margin:30px;
}
.ml30x
{
	margin-left:30px;
}
.mt30x
{
	margin-top:30px;
}
.mr30x
{
	margin-right:30px;
}
.mb30x
{
	margin-bottom:30px;
}
.m40x
{
	margin:40px;
}
.ml40x
{
	margin-left:40px;
}
.mt40x
{
	margin-top:40px;
}
.mr40x
{
	margin-right:40px;
}
.mb40x
{
	margin-bottom:40px;
}
.m50x
{
	margin:50px;
}
.ml50x
{
	margin-left:50px;
}
.mt50x
{
	margin-top:50px;
}
.mr50x
{
	margin-right:50px;
}
.mb50x
{
	margin-bottom:50px;
}
.ml210x
{
	margin-left:210px;
}
.mr210x
{
	margin-right:210px;
}
.l70x
{
	left:70px;
}
.l80x
{
	left:80px;
}
.l90x
{
	left:90px;
}
.l100x
{
	left:100px;
}
.l110x
{
	left:110px;
}
.l120x
{
	left:120px;
}
.l130x
{
	left:130px;
}
.l140x
{
	left:140px;
}
.l150x
{
	left:150px;
}
.l160x
{
	left:160px;
}
.l170x
{
	left:170px;
}
.l180x
{
	left:180px;
}
.l190x
{
	left:190px;
}
.l200x
{
	left:200px;
}
.l210x
{
	left:210px;
}
.l100
{
	left:100%;
}