/*символы*/
[class^='select']:before, [class^='limits']:before, .add1:before, .add2:before, .filters span.checked:after, .border:before, [class^='wrapped']:after, .afannotimg:after, .afsearchimg:after, .afplusimg:after, .afminusimg:after, .afbulletimg:after, #user_info:after, .calc:after, #rubricator span:after
{
	content: '';
	position:absolute;
}
[class^='select']:after, [class^='limits']:after, .add1:after, .add2:after, [class^='wrapped']:before, .afplusimg:before, .afminusimg:before, .afbulletimg:before, #user_info:before
{
	position:absolute;
	display:inline-block;
	top: 5px;
	font-family: 'fontello';
	font-weight:bold;
	font-size:13pt;
	width:15px;
	height:27px;
}
#rubricator span:before
{
	position:absolute;
	display:inline-block;
	font-family: 'fontello';
	font-size:11pt;
	top:1px;
	color:#999;
}
#rubricator [class^='list'] span:before
{
	content: '\e805';
}
#rubricator .folder span:before
{
	content: '\e806';
}
#rubricator .folder_ span:before
{
	content: '\e807';
}
.calc
{
	cursor:pointer;
	display:inline-block;
	width:25px;
	height:25px;
}
.calc:before
{
	display:inline-block;
	font-family: 'fontello';
	font-size:16pt;
	color:#c0ccd9;
}
.afannotimg:before, .afsearchimg:before
{
	display:inline-block;
	font-family: 'fontello';
	font-size:16pt;
}
.calc:before
{
	content: '\e809';
}
.afsearchimg:before
{
	content: '\e816';
}
.afannotimg:before
{
	content: '\e805';
}
#user_info:before
{
	content: '\e817';
	top:0;
	left:5px;
	font-size:10pt;
}
[class^='select4']:after
{
	top:10px;
}
.andor [class^='select4']:after
{
	top:5px;
}
.mt10x .andor [class^='select4']:after
{
	top:10px;
}
ul[class^=ini] li:before
{
	content: '\00B7';
	display:inline-block;
	position: absolute;
	left:0;
	top:1px;
    width:25px;
	height:25px;
    color: #993030;
	font-size: 500%;
}
[class^='wrapped']:before
{
	top:10px;
	left:5px;
}
[class^='limits']:after
{
	top:0px;
	left:10px;
}
[class^='select']:after
{
	right:0;
}
.add1:after, .add2:after
{
	position:relative;
	top: 1px;
	left:10px;
}
[class^='select'][class$='_']:after, [class^='limits'][class$='_']:after, .add2:after, [class^='wrapped'][class$='_']:before, .afminusimg:before
{
	content: '\e80a';
}
.afbulletimg:before
{
	content: '\e814';
}
[class^='select']:not([class$='_']):after, [class^='limits']:not([class$='_']):not([class$='left']):after, .add1:after, [class^='wrapped']:not([class$='_']):before, .afplusimg:before
{
	content: '\e80b';
}
.afplusimg:before, .afminusimg:before, .afbulletimg:before
{
	top:0;
	left:5px;
}
.new1:before, .new2:before
{
	top:1px;
    margin-top:8px;
    font-size:160%;
    font-weight:bold;
}
.new1:before
{
    content:'\2039';
}
.new2:before
{
    content:'\203A';
}
.filters span.checked:before
{
	content: '\2714';
	display:inline-block;
	padding: 0 0 0 30px;
	margin-right:5px;
}
.see:not(:last-of-type) .comma:after, .issue:not(:last-of-type) .comma:after
{
    content: ';';
}
