/*подвал*/
#footer
{
	width:100%;
	min-height: 400px;
	height:auto;
	font-size:80%;
	background: #fff;
	box-shadow: 0 -3px 1px -2px #e3e6ee;
}
#footer  > div:first-child
{
	width:100%;
	height:350px;
	background:#fff;
	color:#999;
}
#footer  > div:last-child
{
	width:100%;
	height:65px;
	color:#fff;
	background:#28478a;
}
#footer  > div > div
{
	width:1280px;	
	margin:0 auto;
	height:100%;
}
#bottom_info
{
	display:table-row;
	height:100%;
}
#bottom_info span
{
	cursor:pointer;
}
#bottom_copy
{
	display:table-row;
	height:100%;
}
.vkb, .instg
{
	display:inline-block;
	margin: 10px 10px 0 0;
	padding: 5px 0 5px 0;
	border:0;
	height:36px;
	width:36px;
}
.vkb
{
	background:url(../img/vkb.gif) center 10px no-repeat;
}
.instg
{
	background:url(../img/instg.gif) center 10px no-repeat;
}
.bcounter
{
	width:88px;
	height:31px;
	display:inline-block;
}
a.dit, a.sag
{
	display:inline-block;
	margin: 0 5px 0 5px;
	border:0;
	height:35px;
}
a.dit img, a.sag img
{
	border:0;
}
a.dit
{
	background:url(../img/dit.png) center 10px no-repeat;
	width:56px;
}
a.sag
{
	background:url(../img/sag.png) center 10px no-repeat;
	width:118px;
}
